<!-- <h1>Calculator</h1>

<div id="numbers-game">
  <div class="row">
    < % (1..10).each do |number| %>
      <div class="box col-md-2">< %= number %></div>
      <div class="col-md-1"> </div>
    < % end %>
  </div>
  
</div>
 -->

<h1>Calculator</h1>
<h2 id="sum">0</h2>

<div id="numbers-game">
  <% (1..10).each_slice(3) do |numbers| %>
    <div class="row">
      <% numbers.each do |number| %>
        <div class="box col-md-2" onclick="add(<%= number %>)"><%= number %></div>
      <% end %>
    </div>
  <% end %>
</div>
