<!-- <h1>Click Three Boxes</h1>

<div id="three-box-game">
  <div class="row">
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick="clickMe(1)"> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick="clickMe(2)"> </div>
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick="clickMe(3)"> </div>
  </div>
  
</div>

 -->
<h1 style="color: white;" id ="time">Click Three Boxes</h1>

<div id="three-box-game">
  <div class="row">
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick="timeOfDay('yellow')"> Morning</div>
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick="timeOfDay('orange')"> Afternoon</div>
    <div class="col-md-1"> </div>
    <div class="box col-md-3" onclick="timeOfDay('black')"> Night</div>
  </div>
  
</div>