<style type="text/css">
.stay-informed {
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
  background: rgb(31,58,127);
  background: -moz-linear-gradient(left,  rgba(31,58,127,1) 0%, rgba(41,83,193,1) 49%, rgba(75,55,124,1) 100%);
  background: -webkit-linear-gradient(left,  rgba(31,58,127,1) 0%,rgba(41,83,193,1) 49%,rgba(75,55,124,1) 100%);
  background: linear-gradient(to right,  rgba(31,58,127,1) 0%,rgba(41,83,193,1) 49%,rgba(75,55,124,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f3a7f', endColorstr='#4b377c',GradientType=1 );
  color: white;
  font-family: $serif-body-font;
  padding: 60px 0 55px 0;

  .layout-constrain {
    margin: 0 auto;
    @include breakpoint(720px) {
      //max-width: 80%;
    }
  }
  input {
    -webkit-appearance: none;
    border-radius: 0;
  }
}

.stay-informed__title {
  font-style: italic;
  font-weight: 600;
  text-align: center;
  font-size: 36px;
  margin-bottom: 25px;
  line-height: 1;
}

.stay-informed__intro {
  font-size: 18px;
  text-align: center;
  margin: 0 auto 50px auto;
  letter-spacing: 0.05em;
  @include breakpoint(720px) {
    max-width: 75%;
  }
  @include breakpoint(940px) {
    max-width: 55%;
  }
}

.stay-informed__content {
  margin: 0 auto;
  text-align: center;
  @include breakpoint(320px) {
    text-align: left;
  }
  @include breakpoint(720px) {
    text-align: left;
  }
  @include breakpoint(940px) {
    //max-width: 80%;
  }
}

.stay-informed__newsletter {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 100%;
  margin-left: -55px;
  @include breakpoint(320px) {
    margin-left: 0;
    width: 49%;
    margin-left: 0;
  }
  @include breakpoint(720px) {
    margin-left: 0;
    width: 49%;
    margin-left: 0;
  }
  .form-item--email {
    background: white;
    border: 2px solid white;
    padding: 15px 25px 15px 15px;
    line-height: 1;
    width: 77%;
    height: 53px;
    box-sizing: border-box;
    @include breakpoint(940px) {
      height: 53px;
    }
  }
  .form-item--button {
    float: right;
    //margin-bottom: -1.83333em;
    position: relative;
    //top: -2.70833em;
  }
  .form-item--icon-submit {
    height: 53px;
    position: absolute;
    width: 55px;
    right: auto;
    top: 0;
    background-color: transparent;
    border: 2px solid white;
  }
  .new-icon--submit {
    width: 51px;
    height: 45px;
    @include svg-background(email-signup);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.stay-informed__social {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  margin-top: 30px;
  text-align: center;
  @include breakpoint(720px) {
    text-align: left;
    width: 50%;
    margin-top: 0;
  }
}

.stay-informed-callout {
  color: $bb-purple;
  .stay-informed__newsletter {
    width: 70%;
    .form-item--email {
      border: 2px solid $bb-purple;
      border-right: 0;
      padding: 14px 25px 14px 15px;
      width: 100%;
      height: 51px;
    }
    .form-item--icon-submit {
      border: 0;
      right: 0;
    }
    .new-icon--submit {
      @include svg-background(email-signup--purple);
      height: 51px;
      width: 55px;
    }
  }
}

.stay-informed-callout__text {
  font-family: $serif-body-font;
  font-size: $font-size-xl;
  font-style: italic;
  font-weight: 600;
  line-height: 1.3;

  @include breakpoint(900px) {
    font-size: em(36px);
  }

  .big-bets--purple & {
    color: $purple;
  }
}

.stay-informed-callout__date {
  font-family: $serif-body-font;
  font-size: $font-size-lg;
  line-height: 1.3;

  .big-bets--purple & {
    color: $purple;
  }
}</style>

<div class="stay-informed">
 <div class="layout-constrain">
  <div class="stay-informed__title">
   Stay Informed</div><div class="stay-informed__intro">
   Sign up for periodic news updates and event invitations. Connect with us on Twitter, Facebook, and YouTube.</div><div class="stay-informed__content">
   <form action="{% url " newsletters="">
    <label class="element-hidden" for="newsletter-signup">Enter Email Address</label> <input class="form-item form-item--email" id="newsletter-signup" placeholder="Enter your email address" type="email"> <label class="form-item--icon-submit" for="newsletter-submit"> <span class="element-hidden">Sign Up</span> <input class="element-invisible" id="newsletter-submit" name="email" type="submit" value="email"> </label><div aria-hidden="true" class="new-icon new-icon--submit">
    </div><label class="form-item--icon-submit" for="newsletter-submit"> </label></form><div class="stay-informed__social">
    <a class="new-icon new-icon--circle new-icon--white new-icon--twitter" href="https://twitter.com/#!/macfound">Twitter</a> <a class="new-icon new-icon--circle new-icon--white new-icon--facebook" href="https://www.facebook.com/macarthurfdn">Facebook</a> <a class="new-icon new-icon--circle new-icon--white new-icon--youtube" href="http://www.youtube.com/user/macfound">Youtube</a> <a class="new-icon new-icon--circle new-icon--white new-icon--linkedin" href="https://www.linkedin.com/company/macarthur-foundation/">LinkedIn</a></div></div></div></div>
    
    <script>
  $('#newsletter-submit').click(function(){
    $(this).val($('#newsletter-signup').val());
  })
</script>

<!--Match gradient with mock-up-->

<style type="text/css">
.stay-informed {
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
  background: rgb(1,108,180);
  background: -moz-linear-gradient(left, rgba(1,108,180,1) 0%, rgba(73,178,128,1) 70%, rgba(79,171,66,1) 100%);
  background: -webkit-linear-gradient(left, rgba(1,108,180,1) 0%,rgba(73,178,128,1) 70%, rgba(79,171,66,1) 100%);
  background: linear-gradient(to right, rgba(1,108,180,1) 0%,rgba(73,178,128,1) 70%, rgba(79,171,66,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#016CB4', endColorstr='#4FAB42',GradientType=1);
  color: white;
  font-family: $serif-body-font;
  padding: 60px 0 55px 0;

  .layout-constrain {
    margin: 0 auto;
    @include breakpoint(720px) {
      //max-width: 80%;
    }
  }
  input {
    -webkit-appearance: none;
    border-radius: 0;
  }
}

.stay-informed__title {
  font-style: italic;
  font-weight: 600;
  text-align: center;
  font-size: 36px;
  margin-bottom: 25px;
  line-height: 1;
}

.stay-informed__intro {
  font-size: 18px;
  text-align: center;
  margin: 0 auto 50px auto;
  letter-spacing: 0.05em;
  @include breakpoint(720px) {
    max-width: 75%;
  }
  @include breakpoint(940px) {
    max-width: 55%;
  }
}

.stay-informed__content {
  margin: 0 auto;
  text-align: center;
  @include breakpoint(720px) {
    text-align: left;
  }
  @include breakpoint(940px) {
    //max-width: 80%;
  }
}

.stay-informed__newsletter {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 100%;
  margin-left: -55px;
  @include breakpoint(720px) {
    margin-left: 0;
    width: 49%;
    margin-left: 0;
  }
  .form-item--email {
    background: white;
    border: 2px solid white;
    padding: 15px 25px 15px 15px;
    line-height: 1;
    width: 77%;
    height: 53px;
    box-sizing: border-box;
    @include breakpoint(940px) {
      height: 53px;
    }
  }
  .form-item--button {
    float: right;
    //margin-bottom: -1.83333em;
    position: relative;
    //top: -2.70833em;
  }
  .form-item--icon-submit {
    height: 53px;
    position: absolute;
    width: 55px;
    right: auto;
    top: 0;
    background-color: transparent;
    border: 2px solid white;
  }
  .new-icon--submit {
    width: 51px;
    height: 45px;
    @include svg-background(email-signup);
    background-repeat: no-repeat;
    background-position: center;
  }
}

.stay-informed__social {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  margin-top: 30px;
  text-align: center;
  @include breakpoint(720px) {
    text-align: left;
    width: 50%;
    margin-top: 0;
  }
}

.stay-informed-callout {
  color: $bb-purple;
  .stay-informed__newsletter {
    width: 70%;
    .form-item--email {
      border: 2px solid $bb-purple;
      border-right: 0;
      padding: 14px 25px 14px 15px;
      width: 100%;
      height: 51px;
    }
    .form-item--icon-submit {
      border: 0;
      right: 0;
    }
    .new-icon--submit {
      @include svg-background(email-signup--purple);
      height: 51px;
      width: 55px;
    }
  }
}

.stay-informed-callout__text {
  font-family: $serif-body-font;
  font-size: $font-size-xl;
  font-style: italic;
  font-weight: 600;
  line-height: 1.3;

  @include breakpoint(900px) {
    font-size: em(36px);
  }

  .big-bets--purple & {
    color: $purple;
  }
}

.stay-informed-callout__date {
  font-family: $serif-body-font;
  font-size: $font-size-lg;
  line-height: 1.3;

  .big-bets--purple & {
    color: $purple;
  }
}
</style>
<div class="stay-informed">
 <div class="layout-constrain">
  <div class="stay-informed__title">
   Stay Informed</div><div class="stay-informed__intro">
   Sign up for periodic news updates and event invitations. Connect with us on Twitter, Facebook, and YouTube.</div><div class="stay-informed__content">
   <form action="{% url " newsletters="">
    <label class="element-hidden" for="newsletter-signup">Enter Email Address</label> <input class="form-item form-item--email" id="newsletter-signup" placeholder="Enter your email address" type="email"> <label class="form-item--icon-submit" for="newsletter-submit"> <span class="element-hidden">Sign Up</span> <input class="element-invisible" id="newsletter-submit" name="email" type="submit" value="email"> </label><div aria-hidden="true" class="new-icon new-icon--submit">
    </div><label class="form-item--icon-submit" for="newsletter-submit"> </label></form><div class="stay-informed__social">
    <a class="new-icon new-icon--circle new-icon--white new-icon--twitter" href="https://twitter.com/#!/macfound">Twitter</a> <a class="new-icon new-icon--circle new-icon--white new-icon--facebook" href="https://www.facebook.com/macarthurfdn">Facebook</a> <a class="new-icon new-icon--circle new-icon--white new-icon--youtube" href="http://www.youtube.com/user/macfound">Youtube</a> <a class="new-icon new-icon--circle new-icon--white new-icon--linkedin" href="https://www.linkedin.com/company/macarthur-foundation/">LinkedIn</a></div></div></div></div><script>
  $('#newsletter-submit').click(function(){
    $(this).val($('#newsletter-signup').val());
  })
</script>